name: Publish Package to npmjs
on:
  release:
    types: [created]
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      # Setup .npmrc file to publish to npm
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - uses: actions/setup-node@v3
        with:
          node-version: "20.x"
          registry-url: "https://registry.npmjs.org"
      - name: Publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          VSCE_PAT: ${{ secrets.VSCODE_TOKEN }}
        run: |
          pnpm install
          curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
          pnpm build
          (cd packages/beff-cli && pnpm publish --no-git-checks --access public)
          (cd packages/beff-client && pnpm publish --no-git-checks --access public)
          # (cd packages/beff-wasm && npm run publish)
